*{ 
 
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width:100%;
  margin,padding:0px;
  background-color:black;
 font-family: 'Syncopate', sans-serif !important;
 font-size:13px !important;  

}
.oculto{
    display:none;
}
/*.navbar-toggler-icon{
    caret-color:white !important;
    background-color: red !important;
    z-index=1001 !important;
     
}*/
.video{
    padding:0px !important;
}
/*La cabecera dd está el logo y la barra de navegación*/
div.head{
  /*  background-image: url(img/fondo2.jpg);
    background-repeat: no-repeat center center;
     background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;*/
    background-color: black;
     text-align:center;
     width:100%;
     height:90px;
     top:0px;
     z-index:1000!important;
     position:fixed;
    
  
}
.navbar-inverse{
    padding:0 !important;
    margin:0 !important;
    background-color: black !important;
}
.navbar-nav li a{
   letter-spacing: 2px;
   position:relative;
   top:35px;
   color:white!important;
    font-weight:bolder !important;
   text-decoration:none;
    margin:3px !important; 
}
.navbar-nav li a:hover{
    color:red !important;
    font-weight:bolder !important;
}

/*La barra de navegación transparente*/
/*.navbar {
  background-color: transparent !important;
}
a.nav-link{
   letter-spacing: 2px;
   position:relative;
   top:35px;
   color:white!important;
    font-weight:bolder !important;
   text-decoration:none;
    margin:3px !important;
    
    

a.nav-link:hover{/*
 /* transform: scale(1, 1.5);!important ;*/
   /* color:red !important;
    font-weight:bolder !important;*/
   
/*}*/

/*La barrita roja debajo del head*/
div.barra{
    background-color: #bc031c;
    height:4px;
    top:90px;
     z-index:1;
    position:fixed;
}
/*La barra negra con textura encima del pie*/
div.barra1{
    height:15px;
    background-image: url(img/fondo2.jpg);
    background-repeat: no-repeat center center;
     background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
   
}

/*.navbar-toggler{
    float:right;
    text-align:right;
}*/
/*Los botones de las redes sociales*/
.sociales{
    background-color: black;
    text-align: center;
   
    
}
.sociales img{
    margin:20px;
}
.sociales img:hover {
    -webkit-transform: scaleX(-1);
    background-color:#AB0B24;
    transition-duration:2s;
    transform: rotateY(-360deg);
     border-radius:50%;
}



/*Las letras de Neón*/
div.cuerpo{ 
    background: linear-gradient(to bottom , #444444 ,black);
    width:100%;
    position:relative;
    padding:50px;
    text-align:center;
   
    }
.neon{
    padding-bottom:35px;
     font-size:60px;
     color: #FFFFFF;
     /*Version rosa chillona
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;dd0021*/
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #555555 0px 0px 20px,#555555 0px 0px 30px,#555555 0px 0px 40px,#555555 0px 0px 50px, #555555 0px 0px 75px;
      
     letter-spacing: 3px;
    
   
    /*
     Para enmarcar     box-shadow: #FFF 0px 0px 2px inset, #FFF 0px 0px 10px inset, #FFF 0px 0px 15px inset ,#dd0021 0px 0px 20px inset ;*/
    /*font-weight:700;
    text-shadow: 2px 2px black;*/
 }
.neon:hover{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #11DBDF 0px 0px 20px, #11DBDF 0px 0px 30px, #11DBDF 0px 0px 40px, #11DBDF 0px 0px 50px, #11DBDF 0px 0px 75px;
}
.juego p{
    color:white !important;
    text-align:justify;
    padding:2px;
    letter-spacing: 1px;
}
#nosotros{
     width:100%;
     height:90px;
     background-color:#444444;
    padding:0px;
}


div.cuerpo2{
    width:100%;
    background-color:#444444;
    color:#E6E6E6;
    font-style:italic;
    text-align:center;
    padding-bottom:60px;
 }
.galeria{
     background: linear-gradient(to bottom ,black,#444444 )!important;
    padding-bottom: 20px;
    padding-top:20px;
}



/************************************************************************/
/*El velo que cubre el nosotros con el contacto*/
/***********************************************/
.container1 {
  position: relative;
  width: 100%;
    padding:0px !important;
}
.nosotros1{
    padding:0px !important;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  /*background-color:#A11024;*/
  background-color:#990619;    
    opacity:0.8;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container1:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*El hr que hay en el nosotros*/
hr{
  
   border: 3px solid #df0021 ; border-radius: 300px/10px !important; height: 0px !important; text-align: center!important ;
    width:95%;
  /*border-top: 2px dashed #df0021;
  width:100%;*/
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 3s infinite;
}
.cuerpo2 h1{
    animation: mymoveh1 3s infinite; 
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  50% {border-color:#dd0021;}
}

@keyframes mymove {
  50% {border-color:#dd0021;}
}
@keyframes mymoveh1 {
  50% {color:#dd0021;}
}

/*********************Las media querys***************************/
@media (max-width: 750px) {
    body{
        font-size:15px;
    }
.neon{
    font-size:20px;
    }
.juego{
        font-size:15px;
    }    
 .cuerpo2{
     padding:1px;
     text-align:justify;
     
    }
    h1{
        font-size:20px !important;
        
    }
    .cuerpo2{
         padding:0px;
    }
    
}
/*Para kitar el velo rojo sobre la imagen en moviles*/
@media (max-width: 500px) {
 body{
        font-size:15px;
  }
 div.head{
        height:50px;
 }
 div.barra{
     top:50px;
    }
.logocabecera{
        max-height: 50px;
        max-width:auto;
    }
     
 .text{
       display:none !important ;
     
  }    
 .overlay{
       
        display:none !important ;
    
    } 
/*Se pone uno fijo abajo*/    
 .oculto{
        background: linear-gradient(to bottom right,#482027,#AC0525);
        text-align:center;
        display:block;
        width: 100%;
        color:white;
        font-weight:bold;
        padding-bottom:5px;
        padding-top:10px;
        
        
       
     }    
    h1{
        font-size:18px !important;
        
    }
    .cuerpo2{
         padding:0px;
    }
}
    